// Theme 1
// Backgrounds
$main-background-1: hsl(222, 26%, 31%);
$keypad-background-1: hsl(223, 31%, 20%);
$screen-background-1: hsl(224, 36%, 15%);
// Keys
$key-background1-1: hsl(224, 51%, 76%);
$key-shadow1-1: hsl(224, 28%, 35%);
$key-background2-1: hsl(6, 63%, 50%);
$key-shadow2-1: hsl(6, 70%, 34%);
$key-background3-1: hsl(30, 25%, 89%);
$key-shadow3-1: hsl(28, 16%, 65%);
// Text
$text1-1: hsl(221, 14%, 31%);
$text2-1: hsl(0, 0%, 100%);

// Theme 2
// Backgrounds
$main-background-2: hsl(0, 0%, 90%);
$keypad-background-2: hsl(0, 5%, 81%);
$screen-background-2: hsl(0, 0%, 93%);
// Keys
$key-background1-2: hsl(185, 42%, 37%);
$key-shadow1-2: hsl(185, 58%, 25%);
$key-background2-2: hsl(25, 98%, 40%);
$key-shadow2-2: hsl(25, 99%, 27%);
$key-background3-2: hsl(45, 7%, 89%);
$key-shadow3-2: hsl(35, 11%, 61%);
// Text
$text1-2: hsl(60, 10%, 19%);
$text2-2: hsl(0, 0%, 100%);

// Theme 3
// Backgrounds
$main-background-3: hsl(268, 75%, 9%);
$keypad-background-3: hsl(268, 71%, 12%);
// Keys
$key-background1-3: hsl(281, 89%, 26%);
$key-shadow1-3: hsl(285, 91%, 52%);
$key-background2-3: hsl(176, 100%, 44%);
$key-shadow2-3: hsl(177, 92%, 70%);
$key-background3-3: hsl(268, 47%, 21%);
$key-shadow3-3: hsl(290, 70%, 36%);
// Text
$text1-3: hsl(52, 100%, 62%);
$text2-3: hsl(198, 20%, 13%);
$text3-3: hsl(0, 0%, 100%);